<div style="height:10%;width:100%;background-color:black;color:white;border-radius:5%"><h1>LiveBlog</h1></div>

<%= yield %>
<br><br>
<div style="background-color: #730E15;height:5%;width:100%;color:white"><footer>foo bar</footer></div>